* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f4f4f4;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  padding-top: 50px;
  height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.search {
  margin-bottom: 20px;
  position: relative;
}

.search__input {
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  border: none;
  font-size: 18px;
  padding: 15px 10px;
  color: #666;
}

.search__suggestion {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
}

.city {
  float: left;
  width: 30%;
  height: 400px;
}

.city__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* box-shadow: 0 0 3px rgba(0, 0, 0, .2); */
  max-height: 400px;
  overflow-x: auto;
}


.city__item {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  margin-bottom: 10px;
}

.city__item:hover .city__remove {
  display: flex;
  cursor: pointer;
}

.city__info {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
}

.city__name {
  flex: 1;
  color: #333;
  font-family: "Roboto";
  font-size: 18px;
  overflow: hidden;
  text-wrap: no-wrap;
}

.city__temperature {
  color: #cacaca;
  font-family: "Roboto";
  font-size: 28px;
}

.city__remove {
  position: absolute;
  display: none;
  align-items: center;
  padding: 0 20px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6666;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.map {
  float: left;
  width: 70%;
  height: 400px;
  padding-left: 20px;
}

.map>div {
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}